<p><%= t "users.confirmation.hello" %><%= @resource.email %>!</p>

<p><%= t "users.confirmation.notice_change_2" %></p>

<p><%= link_to t("users.confirmation.change"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "users.confirmation.skip" %></p>
<p><%= t "users.confirmation.notice_change_3" %></p>
